{% extends 'base.html' %}
{% load static %}

{% block title %}Students{% endblock %}

{% block content %}
<h1>Students</h1>

<a href="{% url 'student-add' %}" class="btn btn-primary mb-3">
    Add Student
</a>

<div class="col-md-10">
    <div class="card shadow-sm p-4">
        <div class="table-responsive" style="max-height: 800px; overflow-y: auto;" id="tableContainerRight">
            <table class="table table-bordered table-striped table-hover table-sm custom-border full-width-table">
                <thead class="table-dark" style="position: sticky; top: 0; z-index: 2;">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th style="min-width:150px;">Action</th>
                    </tr>
                </thead>

                <tbody id="studentTableBody">
                    {% for st in students %}
                    <tr class="student-row"
                        data-id="{{ st.id }}"
                        data-name="{{ st.name }}"
                        data-email="{{ st.email }}"
                        data-phone="{{ st.phone }}"
                        data-address="{{ st.address }}"
                        data-status="{{ st.status }}">
                        
                        <td>{{ st.id }}</td>
                        <td>{{ st.name }}</td>
                        <td>{{ st.email }}</td>
                        <td>{{ st.phone }}</td>
                        <td>{{ st.address }}</td>
                        <td>{{ st.status }}</td>

                        <td>
                            <a href="{% url 'student-edit' st.id %}" class="btn btn-sm btn-warning">
                                Edit
                            </a>

                            <button 
                                class="btn btn-sm btn-danger deleteBtn" 
                                data-id="{{ st.id }}">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/save_csrftoken.js' %}"></script>

<script>
$(document).on('click', '.deleteBtn', function (e) {
    e.preventDefault();

    const student_id = $(this).data('id');

    if (confirm("Confirm to remove this student?")) {
        $.ajax({
            url: "/students/delete-students/",
            type: "POST",
            headers: { "X-CSRFToken": csrftoken },
            data: { student_id: student_id },
            dataType: "json",

            success: function (response) {
                if (response.status === "success") {
                    location.reload(); // Refresh table
                } else {
                    alert(response.message || "Error occurred");
                }
            },

            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                alert("Server error: " + error);
            }
        });
    }
});
</script>
{% endblock %}